<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h3>{{ head }}</h3>
<ul>
    {% for task in tasks %}
        <li>
            <h4>Завдання {{ forloop.counter }}</h4>
            {% for link in task.links %}
                {% if link.path_param %}
                    <a href="{% url link.URL link.path_param %}">{{ link.text }}</a><br>
                {% else %}
                    {% if link.get_param %}
                        <a href="{% url link.URL %}?{{ link.get_param }}">{{ link.text }}</a><br>
                    {% else %}
                        <a href="{% url link.URL %}">{{ link.text }}</a><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for comment in task.comments %}
                {{ comment|linebreaks }}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
<br>
<a href="{% url 'content:index' %}">На главную</a>
<br>
<br>
{{ task_descriptions|linebreaks }}
</body>
</html>