<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завдання уроку 2</title>
</head>
<body>
<h3>Завдання уроку 2. Маршрутизація</h3>
<ul>
    <li>
        <h4>Завдання 1</h4>
        <a href="{% url 'lesson_2:home-view' %}">http://localhost/lesson_2/home/</a><br>
        <a href="{% url 'lesson_2:book' title='Перша глава' %}">http://localhost/lesson_2/book/{назва
            глави}/</a>
    </li>
    <li>
        <h4>Завдання 2</h4>
        <a href="{% url 'lesson_2:index-view' %}">http://localhost/lesson_2/index/</a><br>
        <a href="{% url 'lesson_2:bio' username='User 1' %}">http://localhost/lesson_2/bio/{ім'я користувача}/</a>
    </li>
    <li>
        <h4>Завдання 3</h4>
        Виконано, дивись файл lesson_2__task_3.py
    </li>
    <li>
        <h4>Завдання 4</h4>
        Виконано, додайте до адреси GET параметр виду "?city=Kyiv"<br>
        <a href="{% url 'lesson_2:owm' %}">http://localhost/lesson_2/weather/?city=Kyiv</a>
    </li>
</ul>
</body>
</html>