<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завдання уроку 3</title>
</head>
<body>
<h3>Завдання уроку 3. Шаблони та відображення</h3>
<ul>
    <li>
        <h4>Завдання 1</h4>
        <a href="{% url 'lesson_3:task_list' %}">http://localhost/lesson_3/tasks/</a>
    </li>
    <li>
        <h4>Завдання 2</h4>
        <a href="{% url 'lesson_3:download' %}">http://localhost/lesson_3/download/</a>
    </li>
    <li>
        <h4>Завдання 3</h4>
        Function Based Views<br>
        <a href="{% url 'lesson_3:func_file' %}">http://localhost/lesson_3/func_file/</a> - файл<br>
        <a href="{% url 'lesson_3:func_json' %}">http://localhost/lesson_3/func_json/</a> - JSON<br>
        <a href="{% url 'lesson_3:func_html' %}">http://localhost/lesson_3/func_html/</a> - HTML<br>
        <a href="{% url 'lesson_3:func_text' %}">http://localhost/lesson_3/func_text/</a> - text<br>
        Class Based Views<br>
        <a href="{% url 'lesson_3:class_file' %}">http://localhost/lesson_3/class_file/</a> - файл<br>
        <a href="{% url 'lesson_3:class_json' %}">http://localhost/lesson_3/class_json/</a> - JSON<br>
        <a href="{% url 'lesson_3:class_html' %}">http://localhost/lesson_3/class_html/</a> - HTML<br>
        <a href="{% url 'lesson_3:class_text' %}">http://localhost/lesson_3/class_text/</a> - text
    </li>
    <li>
        <h4>Завдання 4</h4>
        <a href="{% url 'lesson_3:sort_task_list' %}">http://localhost/lesson_3/sort_tasks/</a>
    </li>
    <li>
        <h4>Завдання 5</h4>
        <a href="{% url 'lesson_3:index' %}">http://localhost/lesson_3/star_wars/</a>
    </li>
    <li>
        <h4>Завдання 6</h4>
        <a href="{% url 'lesson_3:person_list' %}">http://localhost/lesson_3/persons/</a>
    </li>
    <li>
        <h4>Завдання 7</h4>
        <a href="{% url 'lesson_3:polls' %}">http://localhost/lesson_3/polls/</a>
    </li>
</ul>
</body>
</html>