<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завдання уроку 1</title>
</head>
<body>
<h3>Завдання уроку 1. Вступ до Django</h3>
<ul>
    <li>
        <h4>Завдання 1</h4>
        <a href="{% url 'lesson_1:index' %}">http://localhost/lesson_1/</a>
    </li>
    <li>
        <h4>Завдання 2</h4>
        Виконано
    </li>
    <li>
        <h3>Завдання 3</h3>
        <a href="{% url 'lesson_1_1:index' %}">http://localhost/lesson_1_1/</a>
    </li>
    <li>
        <h3>Завдання 4</h3>
        Виконано
    </li>
</ul>
</body>
</html>