<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завдання уроку 4</title>
</head>
<body>
<h3>Завдання уроку 4. Моделі</h3>
<ul>
    <li>
        <h4>Завдання 1</h4>
        Виконано
    </li>
    <li>
        <h4>Завдання 2</h4>
        <a href="{% url 'lesson_4:task_2' %}">http://localhost/lesson_4/task_2</a><br>
        Створено моделі Student та Course. Створено по 5 экземплярів кожної моделі та створено зв'зки
        ManyToMany між моделямі
    </li>
    <li>
        <h4>Завдання 3</h4>
        Виконано
    </li>
    <li>
        <h4>Завдання 4</h4>
        <a href="{% url 'lesson_4:task_4' %}">http://localhost/lesson_4/task_4</a><br>
    </li>
    <li>
        <h4>Завдання 5</h4>
        Виконано
    </li>
    <li>
        <h4>Завдання 6</h4>
        Виконано
    </li>
    <li>
        <h4>Завдання 7</h4>
        Виконано
    </li>
</ul>
</body>
</html>